<%= form_with(model: @article, local: true) do |f| %>

  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  <p>
    <%if @article.user %>
      <%#debugger %>
      by <%=link_to @article.user.username, user_path(@article.user)%>
    <%end %>
  </p>
  <p>
    <%=f.submit %>
  </p>
<%end %>