<h1><%=link_to 'ALPHA BLOG', root_path %></h1>
<%if logged_in? %>
  <p align="center"><strong><%= "You are logged in as #{current_user.username}" %><%="(Admin)" if current_user.admin? %> </strong></p>
<%end %><h1 align="center">ARTICLE</h1>
<%#debugger %>

<p align="center"><strong>Title</strong>: <%= @article.title %></p>
<p align="center"><strong>Description</strong>: <%=@article.description %></p>
<div class="container" align="right">
  <h4 style="padding-right: 20px">Categories:</h4>
  <table>
    <thead>

    </thead>
    <tbody>
      <%@article.categories.each do |category| %>
        <tr>
          <td><%=link_to category.name, category_path(category) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
<%#debugger %>
<%#if current_user %>
<!--<%#if current_user.username == @article.user.username %>                   this creates a problem of .username not defined for nil class-->
<% if logged_in? %>
  <%if current_user == @article.user || current_user.admin? %>
    <table align="center">
      <tr>
        <td><%= button_to "EDIT", edit_article_path(@article.id), method: :get %></td>
        <td><%= button_to "DELETE", article_path(@article.id), method: :delete, data: { confirm: "Are you sure?"} %></td>
      </tr>
    </table>
  <%end %>
<%end %>
<%#=link_to '<<BACK', articles_path %>
<p><%= link_to "<<BACK", request.referer == 'http://localhost:3000/articles/new' ? articles_path : request.referer %></p>