<%=form_with(model: @user, local: true) do |f|%>

  <p>
    <%=f.label :username %><br>
    <%=f.text_field :username %>
  </p>
  <p>
    <%=f.label :email %><br>
    <%=f.email_field :email %>
  </p>
  <p>
    <%=f.label :password %><br>
    <%=f.password_field :password %>
  </p>
  <p>
    <%# debugger %>
    <%=f.submit(@user.new_record? ? "SIGN UP" :"UPDATE ACCOUNT")%>
  </p>
<%end%>