<h1 align="center">ALPHA BLOG USERS</h1>
<h3 align="center"><%=will_paginate @users %></h3>

<br>
<br>
<br>
<br>
<table align="center">
  <% @users.each do |user| %>
    <tr>
      <th align="center", colspan="3"><%= user.username %></th>
    </tr>
    <td><%= pluralize(user.articles.count, "article")%></td>
    <td><%=link_to 'view profile', user_path(user) %></td>
<!--    <td><%#=link_to 'edit profile', edit_user_path(user) %></td>-->
<% end %>
</table>
<br><br><br>
<p><%=link_to 'ARTICLES LISTING', articles_path, method: :get %></p>
<p><%=link_to 'BACK<<', '#' %></p>
<h3 align="center"><%=will_paginate @users %></h3>
