<h1><%=link_to "ALPHA BLOG", root_path %></h1>
<h1 align="center">USER DETAILS</h1>
<h3 align="center"><%=will_paginate @articles %></h3>

<br>
<br>
<%#=gravatar_for(@user,200) %>
<!--<img src="<%#=gravatar_for(@user,200) %>" alt="">-->
<br>
<br>
<h3 align="center">Articles by <%=@user.username %></h3>
<br>
<br>
<br>
<table align="center">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%@articles.each do |article| %>
      <tr>
        <td><%=article.title %></td>
        <td align="center"><%=article.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>

<p><%= link_to "<<BACK",:back%></p>
<%#if current_user %>
<%if current_user == @user %>
  <table align="center">
    <tr>
      <td align="center"><%=button_to 'EDIT', edit_user_path(@user), method: :get %></td>
      <td align="center"><%=button_to 'LOG OUT', logout_path, method: :delete %></td>
    </tr>
  </table>
<%end %>
<h3 align="center"><%=will_paginate @articles %></h3>
