<h1><%=link_to 'ALPHA BLOG', root_path %></h1>
<%if logged_in? %>
  <p align="center"><strong><%= "You are logged in as #{current_user.username}" %><%="(Admin)" if current_user.admin? %> </strong></p>
<%end %>
<h1 align="center">Category</h1>
<p align="center"><strong>name</strong> : <%= @category.name %></p>
<%@category.articles.each do |article| %>
  <table align="center">
    <tr>
      <td><%=link_to article.title, article_path(article) %></td>
    </tr>
  </table>
<% end %>
<%=link_to "<<BACK", :back %>